{% extends 'base.html.twig' %}
{% block css %}
    <link rel="stylesheet" href="../../resources/css/style.css">{% endblock %}
{% block title %}<title>Registration</title>{% endblock %}
{% block body %}
    {% include '_navNew.html.twig' %}
    <div class="container" id="container">
        {#        {{ data.errors }} #}
        <div class="box">
            <h4 class="display-4 text-center">Registration</h4><br>
            <div class="success">
                {% if data.success is defined %}
                    <div class="alert alert-success" role="alert">
                        {{ data.success }}
                    </div>
                {% endif %}
            </div>
            <form id="signup" method="post">
                <div class="input-group">

                    {# first name #}
                    <div class="mb-3 pe-4">
                        {% if data.errors.first_name is defined %}
                        <label for="firstName" class="form-label mb-0">First name<span class="star">*</span></label>
                        <input type="text" class="form-control" name="first_name" id="firstName" required>
                        <div class="errorMsg">
                            {{ data.errors.first_name }}
                        </div>
                        {% else %}
                        <label for="firstName" class="form-label mb-0">First name<span class="star">*</span></label>
                        <input type="text" class="form-control" name="first_name" id="firstName"
                               value="{{ data.request.first_name }}">
                    </div>
                    {% endif %}

                    {# last name #}
                    <div class="mb-3">
                        {% if data.errors.last_name is defined %}
                            <label for="lastName" class="form-label mb-0">Last name<span class="star">*</span></label>
                            <input type="text" class="form-control" name="last_name" id="lastName" required>
                            <div class="errorMsg">
                                {{ data.errors.last_name }}
                            </div>
                        {% else %}
                            <label for="lastName" class="form-label mb-0">Last name<span class="star">*</span></label>
                            <input type="text" class="form-control" name="last_name"
                                   value="{{ data.request.last_name }}" id="lastName" required>
                        {% endif %}
                    </div>
                </div>

                {# email #}
                <div class="mb-3">
                    {% if data.errors.email is defined %}
                        <label for="email" class="form-label mb-0">Email address<span class="star">*</span></label>
                        <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp"
                               required>

                        <div class="errorMsg">
                            {{ data.errors.email }}
                        </div>
                    {% else %}
                        <label for="exampleInputEmail1" class="form-label mb-0">Email address<span class="star">*</span></label>
                        <input type="email" class="form-control" name="email" value="{{ data.request.email }}"
                               id="email" aria-describedby="emailHelp" required>
                    {% endif %}
                </div>

                {# confirm email #}
                <div class="mb-3">
                    {% if data.errors.email_check is defined or data.errors.email is defined %}
                        <label for="confirmEmail" class="form-label mb-0">Confirm Email<span
                                    class="star">*</span></label>
                        <input type="email" class="form-control" name="email_check" id="confirmEmail" required>
                        <div class="errorMsg">
                            {{ data.errors.email_check }}
                        </div>
                    {% else %}
                        <label for="exampleInputEmail1" class="form-label mb-0">Confirm Email<span class="star">*</span></label>
                        <input type="email" class="form-control" name="email_check" value="{{ data.request.email }}"
                               id="confirmEmail" required>
                    {% endif %}
                </div>

                {# password #}
                <div class="mb-3">
                    <label for="inputPassword5" class="form-label mb-0">Password<span class="star">*</span></label>
                    <input type="password" id="password" name="password" class="form-control"
                           aria-describedby="passwordHelpBlock" required>
                    {% if data.errors.password is defined %}
                        <div class="errorMsg">
                            {{ data.errors.password }}
                        </div>
                    {% endif %}
                </div>

                {# confirm password #}
                <div class="mb-3">
                    <label for="confirmPassword" class="form-label mb-0">Confirm password<span
                                class="star">*</span></label>
                    <input type="password" id="confirmPassword" name="password_check" class="form-control"
                           aria-describedby="passwordHelpBlock" required>
                    {% if data.errors.password_check is defined %}
                        <div class="errorMsg">
                            {{ data.errors.password_check }}
                        </div>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>


{% endblock %}
{% block js %}
    <script src="/resources/js/registration_validation.js" defer></script>{% endblock %}